/*  --- FOOTER ---- */

#footer{
    padding-bottom: 30px;
}

.bxl-facebook{
    font-size: 35px;
    color: #ACABBF;
}

.bxl-twitter{
    font-size: 35px;
    color: #ACABBF;
}

.bxl-instagram{
    font-size: 35px;
    color: #ACABBF;
}

.footer-text{
    font-size: 16px;
    line-height: 170%;
    color: rgba(255, 255, 255, 0.8);
    opacity: 0.6;
}

.texts{
    margin-bottom: 24px;
}
.footer-block{
    margin-right: 150px;
}
.footer-item:not(:last-child){
    margin-right: 100px;
}
.footer-title{
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.8);
    margin-bottom: 24px;
}
.in-item{
    margin-bottom: 20px;
}
.fo-item-link{
    font-size: 20px;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.7);
    opacity: 0.6;
}

.fo-item-link:hover{
    color: #fff;
    opacity: 1;    
}

.social-item {
    margin-right: 20px;
}

.social-item:hover .bx{
    color: #fff;
}

.finally-link-div{
    display: flex;
    justify-content: center;
    margin-top: 86px;
}

.finally-link{
    color: #8F91D0;
    font-size: 16px;
    line-height: 19px;
}